{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["module-resolver", {
            "alias": {
                "@tools": "./src/tools",
                "@apps": "./src/apps"
            }
        }]
    ]
}